# 공통 설정
spring:
  application:
    name: dgu-likelion-app
  profiles:
    default: local
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true

server:
  port: 8080

# Swagger 공통 설정
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger
    operations-sorter: alpha
    tags-sorter: alpha
    try-it-out-enabled: true
    display-request-duration: true

# jwt 인증 관련
jwt:
  access-secret: ${JWT_ACCESS_SECRET}
  access-expiration-ms: 3600000   # 1h
  refresh-secret: ${JWT_REFRESH_SECRET}
  refresh-expiration-ms: 1209600000  # 14days

---

# local 환경 전용 설정
spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: org.h2.Driver
    url: "jdbc:h2:mem:dgu-likelion"
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

  # 로컬 개발용 AWS S3 설정
  cloud:
    aws:
      credentials:
        access-key: ${DEV_AWS_ACCESS_KEY}
        secret-key: ${DEV_AWS_SECRET_KEY}
      s3:
        bucket: ${DEV_S3_BUCKET_NAME}
      region:
        static: ap-northeast-2


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

---

# prod(배포) 환경 전용 설정
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: false
        format_sql: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket: ${S3_BUCKET_NAME}
      region:
        static: ap-northeast-2
        auto: false
      stack:
        auto: false